

.LoginContainer {
    border-radius: .25em;
    margin: 5vw;
    padding: 1em;
    min-width: 50vw;
}

.LoginButton {
    border: #EAECED 1px solid;
    border-radius: .25em;
    background-color: #2270BA;
    width: 90%;
    height: 3em;
    padding: 0 !important;
    margin: 0;

}

.UsernameInput {
    border-radius: .25em;
    margin: 10px !important;
    margin-bottom: 2px !important;
    /* padding-left: 0; */
    width: 95%;
    height: 2.5em;
}

.PasswordInput {
    border-radius: .25em;
    margin: 10px !important;
    margin-top: 2px !important;
    width: 95%;
    height: 2.5em;

}