
.App {
  background: FFFFFF;
  text-align: center;
  font-family: pp-sans-big-light, "Helvetica Neue", Arial, sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#register-form {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  max-width: 50vmin;
  margin: 1em;
  margin-top: 5em;
  margin-bottom: 0;
  padding-bottom: 0;
  border: gainsboro 1px solid !important;
  border-radius: .25em;
}

#sendForm {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  max-width: 50vmin;
}

#contact-form {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  width: 40vw;
  height: 40vh;
}

#login-form {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  width: 60vw;
  max-width: 400px;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
  border: gainsboro 1px solid !important;
  border-radius: .25em;
  color: white;
}

img{
  width: 30%;
  height: auto;
}

body {
  font-family: "Gotham";
  margin-bottom: 0;
  padding: 0;
  background: #2270BA;
}
.responsive-table {
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
}
.responsive-table thead {
  visibility: hidden;
  background: #fafafa;
}
@media screen and (min-width: 400px) {
  .responsive-table thead {
    visibility: visible;
  }
}
.responsive-table tr {
  border: 1px solid #ddd;
  border-bottom: 2px solid #ddd;
  padding: 5px;
  margin-bottom: 10px;
  display: block;
}
@media screen and (min-width: 400px) {
  .responsive-table tr {
    display: table-row;
    border-bottom-width: 1px;
    margin-bottom: 0;
  }
  .responsive-table tr:nth-child(even) {
    background: #fafafa;
  }
}
.responsive-table th,
.responsive-table td {
  padding: 10px;
  text-align: left;
}
.responsive-table th {
  text-transform: uppercase;
  font-size: 11px;
}
.responsive-table td {
  display: block;
  text-align: left;
  font-size: 13px;
  border-bottom: 1px dotted #ddd;
}
.responsive-table td:last-child {
  border-bottom: none;
}
@media screen and (min-width: 400px) {
  .responsive-table td {
    display: table-cell;
    text-align: left;
    font-size: 14px;
    border-bottom: none;
  }
}
.responsive-table td:before {
  content: attr(data-label);
  float: left;
  text-transform: uppercase;
  font-weight: bold;
}
@media screen and (min-width: 400px) {
  .responsive-table td:before {
    content: "";
    display: none;
  }
}

.Home{
  min-height: 100vh;
}

.logout-button{
  padding-left: 2vw;
  padding-right: 2vw;
  margin-left: .5em;
}

.login-button{
  padding-left: 2vw;

}

#nav-login-button {
  margin-left: .5em;
}
.HomeHeader .bg-dark{
  background-color: rgba(0, 0, 0, 0) !important;
  color: blue;
}

#navbar1{
  display: flex;
  justify-items: space-around !important;
}

li.nav-item{
  padding: 1vh;
}

.navbar-collapse{
  margin-right: 15vw;
}

.navbar-brand{
  margin-left: 15vw;
}